@use './partials/variables' as *;

$fa-font-path: "../webfonts" !default;

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

@import '~bootstrap/scss/bootstrap';

#header{
    .active{
        color: $blue_primary !important;
        line-height: 3.8em;
        // border-bottom: 7px solid $blue_primary;

        }
        .navbar-toggler {
        display: none;
        }
        .dropdown{
        display: none;
        }
        .icon{
        width: 80%;

        }
        nav{
        height: 15vh;
        }
        .nav-link {
        position: relative;
        }
        .nav-link.active::after {
        content: '';
        display: block;
        width: 100%;
        height: 7px;
        background-color: $blue_primary;
        position: absolute;
        bottom: -15px;
        left: 0;
        }

        .blue-line{
            border-bottom: 3px solid $blue_primary;
            width: 60%;
        }
        @media screen and (max-width: 769px) {
        nav {
        height: 10vh;
        }
        .nav-bar{
        display: flex;
        flex-wrap: nowrap;
        }
        .navbar-nav{

        font-size: small;
        padding: 5px;
        }
        .nav-link.active::after {
        bottom: 7px;
        }
        .icon{
        width: 40%;
        }
        }

        @media screen and (max-width: 577px) {
        .navbar-toggler {
        display: block;
        font-size: 0.8em;
        }

        .navbar-nav {
        display: none;
        }
        nav {
        height: 8vh;
        }
        nav {
        height: 10vh;
        }
        .nav-bar{
        display: flex;
        flex-wrap: nowrap;
        }
        .nav-link.active::after {
        bottom: 5px;
        }
        .icon{
        width: 40%;
        }

        }
}

#jumbo{

        height:43vh;
        background-image: url(../img/jumbotron.jpg);
        background-size: cover;

}
#card-content{
    background-color: black;
    .bg-trasparent{
        background-color: transparent;
    }
}
.card{
    img{
        height: 35vh;
    }
}

.my-tag{
    width: 18%;
    margin-top: -30px ;
    margin-left: 5%;
    position: absolute;
    color: white;
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: 800;
    background-color: #0282f9;
}
